<form clrForm clrLayout="horizontal" class="clr-row">
  <clr-datalist-container class="clr-col-3">
    <label for="searchText" class="clr-sr-only"></label>
    <input
      clrSearch
      clrDatalistInput
      ngModel
      #searchText
      name="searchText"
      id="searchText"
      (input)="search(searchText.value)"
      placeholder="{{ 'order.item.misc-charging.search-placeholder'  }}"
      autocomplete="off"
      class="clr-col-12"
    />
    <datalist class="clr-col-12">
      <option *ngFor="let item of items" [value]="item.miscChargingNumber + ' - ' + item.description"></option>
      <option
        *ngIf="moreItemsFound && !searchEntered && !isLoading"
        [value]="searchText.value"
      ></option>
    </datalist>
  </clr-datalist-container>
  <div class="clr-form-control spinner-div" *ngIf="isLoading">
    <span class="spinner spinner-inline"></span>
  </div>
  <div class="space-top search-nodata" *ngIf="items?.length === 0 && !isLoading && !selectedItem">
    <span>
      {{ 'order.item.seach.nodata' }}
    </span>
  </div>
</form>
